$color: rgba(255,255,255,.9);
$body-background: url("/img/backgrounds/bg.jpg");
$header-background: rgba(0,0,0,.3);
$content-background: rgba(0,0,0,.4);
$field-background: rgba(0,0,0,.25);
$header-font-size: 22px;
$font-size: 1.1rem;
$font-weight: 300;
$font-family: "Source Sans Pro";
$transition-slow: all .5s ease-in-out;
$transition: all .3s ease-in-out;
$transition-fast: all .15s ease-in-out;
$transition-off: all 0s ease-in-out;
$true-hover: #52d669;
$false-hover: #f14140;