.header {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 60px;
  z-index: 4;
}

.header .search {
  position: relative;
}

.header .search .search__icon {
  position: absolute;
  right: 5%;
  top: 0.5rem;
  color: #a6a9ae;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .search .search__input {
  padding: 0.375rem 3rem 0.375rem 1rem;
  border: 1px solid #a6a9ae;
  border-radius: 1.5rem;
  color: #75787d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .search .search__input::-webkit-input-placeholder {
  font-style: italic;
}

.header .search .search__input::-moz-placeholder {
  font-style: italic;
}

.header .search .search__input:-ms-input-placeholder {
  font-style: italic;
}

.header .search .search__input::-ms-input-placeholder {
  font-style: italic;
}

.header .search .search__input::placeholder {
  font-style: italic;
}

.header .search .search__input:focus {
  border-color: #009da0;
  box-shadow: 0 0 0 0.2rem rgba(0, 157, 160, 0.25);
}

.header .search .search__input:focus + .search__icon {
  color: rgba(0, 0, 0, 0.5);
}

.header .menu {
  display: -webkit-box;
  display: flex;
}

.header .menu .menu__item {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header .menu .menu__item i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  cursor: pointer;
}

.header .menu .menu__item .dropdown-toggle {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header .menu .menu__item .dropdown-toggle:after {
  position: absolute;
  right: 0;
  top: 15px;
}

.header .menu .menu__item .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform-origin: top !important;
          transform-origin: top !important;
  -webkit-transition: opacity 0.3s ease-in-out !important;
  transition: opacity 0.3s ease-in-out !important;
  z-index: -100;
}

.header .menu .menu__item .dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.header .menu .menu__item .dropdown-menu.localization__dropdown .dropdown-item__flag {
  width: 30px;
  height: 30px;
}

.header .menu .menu__item .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .menu .menu__item .dropdown-menu .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.6);
}

.header .menu .menu__item .dropdown-menu .dropdown-item:active {
  background-color: #009da0;
}

.header .menu .menu__item .dropdown-menu .dropdown-item:active,
.header .menu .menu__item .dropdown-menu .dropdown-item:active * {
  color: #fff;
}

.header .menu .menu__item .dropdown-menu .dropdown-divider {
  margin: 0;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown {
  padding: 0;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .notification__dropdown__content {
  height: 240px;
  overflow: auto;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification {
  display: -webkit-box;
  display: flex;
  height: 80px;
  padding-right: 3rem;
  -webkit-box-align: center;
          align-items: center;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification i {
  margin: 1.5rem;
  font-size: 2rem;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification.dropdown-item__notification_message i {
  color: #1cbcd8;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification.dropdown-item__notification_warning i {
  color: #ff8d60;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification.dropdown-item__notification_error i {
  color: #ff586b;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification.dropdown-item__notification_success i {
  color: #0cc27e;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notification .notification__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.header .menu .menu__item .dropdown-menu.notification__dropdown .dropdown-item__notifications-all {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0;
}

.header .menu .menu__item .dropdown-menu.account__dropdown {
  padding: 0;
}

.header .menu .menu__item .dropdown-menu.account__dropdown .dropdown-item {
  padding: 0.7rem 1.6rem;
  font-size: 0.9rem;
}

.header .menu .menu__item .dropdown-menu.account__dropdown .dropdown-item i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.header .menu .menu__item.has-counter .counter {
  position: absolute;
  top: -11px;
  right: 3px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #ff586b;
  color: #fff;
  font-size: 0.75rem;
}

