.main {
  margin-left: 100px;
  margin-right: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main * {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .content {
  margin-top: 0;
}

.main .content .content__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.main .content .content__header .content__header__info .content__title {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

.main .content .content__header .content__header__info .content__description {
  margin-top: 0;
  margin-bottom: 3rem;
  color: #3f587e;
  font-size: 1rem;
  letter-spacing: 0.3px;
}

.main .content .content__header .content__header__actions {
  display: -webkit-box;
  display: flex;
}

.main .content .content__header .content__header__actions .content__header__action {
  margin: 0 0.5rem;
}

.main .content .content__header .content__header__actions .content__header__action button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 4px;
  background: #0cc27e;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .content .content__header .content__header__actions .content__header__action button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main .content .content__header .content__header__actions .content__header__action button:active {
  box-shadow: 0 0 0 0.2rem rgba(28, 188, 216, 0.4);
}

.main .content .content__header .content__header__actions .content__header__action button svg {
  width: 0.95rem;
  height: 0.95rem;
  margin-right: 0.5rem;
}

.main .content .card {
  border: 0;
  margin: 18px 0;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.main .content .data {
  background: #fff;
}

.main .content .data .data__localization {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.main .content .data .data__localization .data__localization__item {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  background: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.main .content .data .data__localization .data__localization__item.active {
  background: #009da0;
  color: #fff;
}

.main .content .data .data__localization .data__localization__item:hover:not(.active) {
  background: #e9ecef;
}

.main .content .data .data__localization .data__localization__item:hover.active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.main .content .data .data__localization .data__localization__item:first-of-type {
  border-top-left-radius: 4px;
}

.main .content .data .data__localization .data__localization__item:last-of-type {
  border-right: 0;
  border-top-right-radius: 4px;
}

.main .content .data .data__header {
  padding: 2.5rem;
}

.main .content .data .data__header h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.main .content .data .data__search {
  display: -webkit-box;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

.main .content .data .data__search .search__input {
  margin-right: 2rem;
}

.main .content .data .data__search .search__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 1rem;
  border: 0;
  border-radius: 4px;
  background: #1cbcd8;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .content .data .data__search .search__button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.main .content .data .data__search .search__button:active,
.main .content .data .data__search .search__button:active {
  box-shadow: 0 0 0 0.2rem rgba(28, 188, 216, 0.4);
}

.main .content .data .data__content {
  padding: 1rem;
}

.main .content .data .data__content table {
  width: 100%;
  padding: 1rem;
}

.main .content .data .data__content table td,
.main .content .data .data__content table th {
  min-height: 4rem;
  text-align: center;
}

.main .content .data .data__content table th {
  position: relative;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  font-weight: 600;
  cursor: pointer;
}

.main .content .data .data__content table th:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  display: block;
  height: 2px;
  background: #1cbcd8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .content .data .data__content table th:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main .content .data .data__content table td {
  padding: 1.5rem 0.4rem;
  border-top: 1px solid #dee2e6;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.main .content .data .data__content table thead th {
  font-style: italic;
}

.main .content .data .data__content table tbody tr.data__filter {
  position: relative;
}

.main .content .data .data__content table tbody tr.data__filter td {
  border: 0;
}

.main .content .data .data__content table tbody tr.data__filter td.last {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.main .content .data .data__content table tbody tr.data__filter td.last input {
  max-width: 80%;
}

.main .content .data .data__content table tbody tr.data__filter td.last .data__filter__delete {
  position: absolute;
  right: 0;
  top: calc(50% - 1rem);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background: #fff;
}

.main .content .data .data__content table tbody tr.data__filter td.last .data__filter__delete:hover {
  background: #e9ecef;
}

.main .content .data .data__content table tbody tr.data__filter td.last .data__filter__delete svg {
  height: 1.7rem;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__text {
  position: relative;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__text input {
  max-width: 100%;
  padding: 0.3rem 5.5rem 0.3rem 1rem;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__text .dropdown.lang {
  display: none;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__text.translatable .dropdown.lang {
  position: absolute;
  top: 1.5rem;
  right: 0.45rem;
  display: block;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__number input {
  padding: 0.3rem 1rem;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__checkbox input {
  display: none;
  position: relative;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__actions {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__actions .data__filter__action {
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 4px;
  background: #1cbcd8;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__actions .data__filter__action:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.main .content .data .data__content table tbody tr.data__filter .data__filter__actions .data__filter__action:active,
.main .content .data .data__content table tbody tr.data__filter .data__filter__actions .data__filter__action:active {
  box-shadow: 0 0 0 0.2rem rgba(28, 188, 216, 0.4);
}

.main .content .data .data__content table tbody tr.data__filter__and-or td {
  margin: 0;
  padding: 0;
  border: 0;
}

.main .content .data .data__content table tbody tr.data__row:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04);
}

.main .content .data .data__content table .actions {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.main .content .data .data__content table .actions .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  float: left;
  width: calc(33% - .3rem);
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  cursor: pointer;
}

.main .content .data .data__content table .actions .action.show * {
  color: #1cbcd8;
}

.main .content .data .data__content table .actions .action.edit * {
  color: #0cc27e;
}

.main .content .data .data__content table .actions .action.delete * {
  color: #ff586b;
}

.main .content .data .data__content table .actions .action i {
  font-size: 1.2rem;
}

.main .content .data__pagination {
  display: -webkit-box;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3rem auto;
  font-size: 1.1rem;
  background: #fff;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
}

.main .content .data__pagination .pagination__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main .content .data__pagination .pagination__item a {
  display: block;
  margin: 0.5rem 1rem;
  text-decoration: none;
  color: #009da0;
}

.main .content .data__pagination .pagination__item a svg {
  width: 1.1rem;
  height: 1.1rem;
}

.main .content .data__pagination .pagination__item.active {
  background: #009da0;
}

.main .content .data__pagination .pagination__item.active a {
  color: #fff;
}

.main .content .data__pagination .pagination__item:not(.active):hover {
  background: #e9ecef;
}

