.settings .settings__content {
  display: -webkit-box;
  display: flex;
  width: 330px;
  z-index: 5;
  position: fixed;
  top: 0;
  right: -330px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.settings .settings__content * {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.settings .settings__content .settings__icon__wrapper {
  position: absolute;
  top: 50%;
  left: -50px;
  width: 50px;
  height: 50px;
  background: #ff586b;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 5;
}

.settings .settings__content .settings__icon__wrapper:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.settings .settings__content .settings__icon__wrapper .settings__icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.settings .settings__content .settings__icon__wrapper .settings__icon svg {
  width: 25px;
  height: 25px;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  cursor: pointer;
}

.settings .settings__content .settings__sidebar {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 1.5rem 1rem;
  background: #fff;
  z-index: 6;
}

.settings .settings__content .settings__sidebar .settings__sidebar__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.settings .settings__content .settings__sidebar .settings__sidebar__close svg {
  width: 25px;
  height: 25px;
}

.settings .settings__content .settings__sidebar .settings__sidebar__header {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.settings .settings__content .settings__sidebar .settings__sidebar__description {
  padding-bottom: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid #a8a8a8;
}

.settings .settings__checkbox:checked + .settings__content {
  right: 0;
}

