.aside__menu__item {
  position: relative;
  list-style: none;
}

.aside__menu__item .aside__item__info {
  display: -webkit-box;
  display: flex;
}

.aside__menu__item .aside__menu__item__checkbox:checked + .aside__menu__item__toggle + .aside__submenu {
  max-height: 6000px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  z-index: 2;
}

.aside__menu__item .aside__menu__item__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.aside__menu__item .aside__submenu {
  max-height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

