@keyframes rotate {
    100% {transform: rotate(360deg);}
}

@keyframes running-contour {
    from {
        background-position: 0 0, 6px 100%, 0 6px, 100% 0;
    }
    to {
        background-position: 6px 0, 0 100%, 0 0, 100% 6px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes drop-fade {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: calc(100% + 2rem);
        opacity: 1;
    }
}
