// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

//Variables
@import '_variables';

// Animations
@import 'animations';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

html, body {
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}

a {
    &, &:link,
    &:visited, &:hover, &:active {
        color: #74788d;
        text-decoration: none;
    }
}

.secondary__text {
    color: #74788d;
    font-size: .8rem;
}

.dashboard {
    font-family: $font-family-dashboard;
}
