// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}

a {
    &, &:link,
    &:visited, &:hover, &:active {
        color: #74788d;
        text-decoration: none;
    }
}

.secondary__text {
    color: #74788d;
    font-size: .8rem;
}
