// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// Variables
@import 'variables';

// Animations
@import 'animations';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}

a {
    &, &:link,
    &:visited, &:hover, &:active {
        color: #74788d;
        text-decoration: none;
    }
}

.secondary__text {
    color: #74788d;
    font-size: .8rem;
}

.dashboard {
    font-family: $font-family-dashboard
}
