.header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 40px);
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 5px 0 10px 0px rgba(0,0,0,.7);

    .search {
        position: relative;

        .search__icon {
            position: absolute;
            right: 5%;
            top: .5rem;
            color: #a6a9ae;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }

        .search__input {
            padding: .375rem 3rem .375rem 1rem;
            border: 1px solid #a6a9ae;
            border-radius: 1.5rem;
            color: #75787d;
            transition: all .3s ease-in-out;

            &::placeholder {
                font-style: italic;
            }

            &:focus {
                border-color: #009da0;
                box-shadow: 0 0 0 .2rem rgba(0,157,160,.25);

                & + .search__icon {
                    color: rgba(0,0,0,.5);
                }
            }
        }
    }

    .menu {
        display: flex;

        .menu__item {
            position: relative;
            margin-left: .5rem;
            margin-right: .5rem;

            i {
                color: rgba(0,0,0,.6);
                font-size: 1.3rem;
                cursor: pointer;
            }

            .dropdown-toggle {
                height: 100%;
                padding-left: 0.5rem;
                padding-right: 1rem;

                &:after {
                    position: absolute;
                    right: 0;
                    top: 15px;
                }
            }

            .localization__dropdown {
                .dropdown-item__flag {
                    width: 30px;
                    height: 30px;
                }
            }

            &.has-counter {
                .counter {
                    position: absolute;
                    top: -11px;
                    right: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    background-color: #ff586b;
                    color: #fff;
                    font-size: .75rem;
                }
            }
        }
    }
}
