.settings {
    .settings__content {
        display: flex;
        width: 400px;
        z-index: 6;
        position: fixed;
        top: 0;
        right: -400px;
        transition: all .4s ease;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

        * {
            transition: all .4s ease;
        }

        .settings__icon__wrapper {
            position: absolute;
            top: 50%;
            left: -50px;
            width: 50px;
            height: 50px;
            background: #ff586b;
            box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
            cursor: pointer;

            &:hover {
                filter: brightness(.9);
            }

            .settings__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                margin: 0;
                cursor: pointer;

                svg {
                    width: 25px;
                    height: 25px;
                    animation: rotate 2s linear infinite;
                    cursor: pointer;
                }
            }
        }

        .settings__sidebar {
            position: relative;
            height: 100vh;
            width: 100%;
            padding: 1.5rem 1rem;
            background: #fff;

            .settings__sidebar__close {
                position: absolute;
                right: 1rem;
                top: 1rem;
                cursor: pointer;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            .settings__sidebar__header {
                text-align: left;
                text-transform: uppercase;
                font-size: 1.5rem;
            }

            .settings__sidebar__description {
                padding-bottom: 1rem;
                font-size: 1rem;
                border-bottom: 1px solid #a8a8a8;;
            }
        }
    }

    .settings__checkbox:checked {
        & + .settings__content {
            right: 0;
        }
    }
}
