.aside-toggle {
    &:checked + .aside {
        width: 340px;
        overflow-y: auto;

        .aside__header {
            padding: 1rem 2rem;

            .aside__toggle {
                z-index: 2;

                .aside__toggle__ball {
                    right: 1px;
                    left: calc(100% - 13px);
                    background: #fff;
                }
            }

            .aside__logo {
                height: 70px;
            }
        }

        .aside__menu__item__toggle,
        .aside__menu__item__status {
            opacity: 1 !important;
        }

        .aside__item__info {
            padding: 2rem;
        }
    }

    &:checked + .aside + .main {
        margin-left: 370px !important;

        .header {
            width: calc(100% - 330px) !important;
        }
    }
}

.aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100vh;
    background-size: cover;
    box-shadow: 5px 83px 3px 0px rgba(0,0,0,.35);
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all .3s ease-in-out;
    z-index: 5;

    * {
        transition: all .3s ease-in-out;
    }

    &:hover {
        width: 340px;
        overflow-y: auto;

        .aside__header {
            padding: 1rem 2rem;

            .aside__toggle {
                z-index: 2;
            }

            .aside__logo {
                height: 70px;
            }
        }

        .aside__menu__item__toggle,
        .aside__menu__item__status {
            opacity: 1 !important;
        }

        .aside__item__info {
            padding: 2rem;
        }
    }

    .aside__wrapper {
        position: relative;
        width: 100%;
        min-height: 100%;
        height: max-content;
        padding-bottom: 1rem;
        background-image: linear-gradient(45deg, rgba(120, 2, 6, .75), rgba(6, 17, 97, .75));
    }

    .aside__header {
        padding: 1rem 1.2rem;
        height: 6rem;
        align-items: center;

        .aside__logo {
            z-index: 2;
            height: 50px;

            img {
                height: 100%;
            }
        }

        .aside__toggle {
            position: relative;
            height: 14px;
            width: 30px;
            border: 1px solid #fff;
            border-radius: 10px;
            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            label {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .aside__toggle__ball {
                position: absolute;
                left: 1px;
                top: 1px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid #fff;
                transition: all .3s ease-in-out;
            }
        }
    }

    .aside__menu {
        margin-bottom: 0;
        padding-left: 0;

        .aside__menu__item {
            margin: 0;
            padding: 0;
            overflow: hidden;
            z-index: 2;
            position: relative;
            list-style: none;

            .aside__menu__item__icon i {
                font-size: 1.2rem;
            }

            .aside__menu__item__title {
                width: 62%;
                margin-left: 1.3rem;
                margin-right: .5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: all .3s ease-in-out;

                    &:hover {
                        color: rgba(255, 255, 255, .7);
                    }
                }
            }

            .aside__menu__item__status {
                transition: opacity .7s ease-in;
                opacity: 0;

                .aside__status__counter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 1.5rem;
                    width: 1.5rem;
                    border-radius: 50%;
                    background-color: #ff586b;
                    text-align: center;
                    font-size: .7rem;
                }

                .aside__status__text {
                    position: relative;
                    left: -55%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    border-radius: 15px;
                    background-color: #009da0;
                }
            }

            .aside__item__info {
                display: flex;
                width: 100%;
                padding: 1rem;
                padding-left: 1.7rem;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    background: rgba(255, 255, 255, .1);
                }
            }

            .aside__menu__item__toggle {
                position: absolute;
                top: 16px;
                right: 5%;
                width: 30px;
                height: 20px;
                cursor: pointer;
                transition:
                    transform .3s ease-in-out,
                    opacity .7s ease-in;
                opacity: 0;

                &:hover {
                    transform: scale(1.15);
                }

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 7px;
                    display: block;
                    width: 1px;
                    height: 10px;
                    background: #fff;
                    transition: all .3s ease-in-out;
                }

                &:before {
                    right: 20px;
                    transform: rotate(-45deg);
                }

                &:after {
                    right: 13px;
                    transform: rotate(45deg);
                }
            }

            .aside__menu__item__checkbox {
                &:checked {
                    & + .aside__menu__item__toggle {
                        &:before {
                            transform: rotate(45deg);
                        }

                        &:after {
                            transform: rotate(-45deg);
                        }
                    }

                    & + .aside__menu__item__toggle + .aside__submenu {
                        max-height: 6000px;
                        transform: scaleY(1);
                        opacity: 1;
                        z-index: 2;
                    }
                }
            }

            .aside__submenu {
                position: relative;
                padding: 0;
                max-height: 0;
                transform: scaleY(0);
                transform-origin: center top;
                opacity: 0;
                transition: all .3s ease-in-out;
                list-style: none;

                .aside__menu__item {

                    &:hover {
                        background: rgba(255, 255, 255, .1);
                    }

                    .aside__item__info {
                        border-left: 1px solid rgba(255,255,255,.7);
                        margin-left: 2.15rem;
                        padding-left: 1.5rem;

                        &:hover {
                            background: transparent;
                        }

                        .aside__menu__item__icon {
                            margin-left: .7rem;
                        }

                        .aside__menu__item__title {
                            width: 49%;
                            margin-left: .7rem;
                        }
                    }
                }
            }
        }
    }
}
